# Setting

desktop.ini
settings.json

# IAR

EWARM/**/Obj/
EWARM/**/Exe/
EWARM/**/List/
EWARM/settings/
EWARM/*dep

# Keil

*.uvguix.chai
MDK-ARM/**/*.o
MDK-ARM/**/*.d
MDK-ARM/**/*.crf
MDK-ARM/**/*.htm
MDK-ARM/**/*.map
MDK-ARM/**/*.axf
MDK-ARM/**/*.lnp
MDK-ARM/**/*.lnp
MDK-ARM/**/*.dep
MDK-ARM/**/*.hex
MDK-ARM/DebugConfig/
MDK-ARM/JlinkLog.txt
MDK-ARM/*.lst

target/Keil/**/*.o
target/Keil/**/*.d
target/Keil/**/*.crf
target/Keil/**/*.htm
target/Keil/**/*.map
target/Keil/**/*.axf
target/Keil/**/*.lnp
target/Keil/**/*.dep
target/Keil/**/*.hex
target/Keil/**/*.lst
target/Keil/JlinkLog.txt
# other

*.a
*.out
build/
touchgfx/lib/sdl2/win32/*.lib
touchgfx/lib/sdl2/win32/*.dll
touchgfx/lib/win/msvs/*.lib
