# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf
*.dep
*.axf
*.plg
Obj
Exe
List
settings

# Linker output
*.ilk
*.map
*.exp
*.crf
*.chai
*.dep
*.lst
*.lnp
*.htm
*.m51
settings.json
JLinkLog.txt
desktop.ini

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
*.bak